<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button [defaultHref]="backUrl()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode() ? (isCompany() ? 'Editar Colaborador' : 'Editar Usuário') : (isCompany() ? 'Novo Colaborador' : 'Novo Usuário') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <h2 class="page-title">
      {{ isEditMode() ? (isCompany() ? 'Atualizar Dados do Colaborador' : 'Atualizar Dados do Usuário') : (isCompany() ? 'Cadastro de Colaborador' : 'Formulário de Cadastro') }}
    </h2>
    
    <app-staff-form
      [data]="userData()"
      [isEditMode]="isEditMode()"
      [isLoading]="isLoading()"
      (save)="onSave($event)"
    ></app-staff-form>
  </div>
</ion-content>
