<ion-content [fullscreen]="true">
  <!-- Cabeçalho Principal (Conforme Imagem) -->
  <div class="login-header">
    <div class="brand-container">
      <div class="brand-logo">
        <ion-icon name="construct" class="brand-icon"></ion-icon>
      </div>
      <span class="brand-text">BRAVO<br><span class="brand-subtext">INSTALAÇÕES</span></span>
    </div>

    <h1 class="header-title">
      Serviços técnicos para sua casa, <br>
      <span class="highlight-text">com agilidade e garantia.</span>
    </h1>

    <p class="header-desc">
      Hidráulica, elétrica, serralheria e mais — solicite pelo aplicativo de forma simples.
    </p>
  </div>

  <!-- Formulário de Autenticação -->
  <div class="form-container">
    <h3 class="form-title">Acesse sua conta</h3>

    <!-- E-mail -->
    <div class="input-wrapper">
      <ion-icon name="mail-outline" class="input-icon"></ion-icon>
      <input 
        type="email" 
        placeholder="E-mail" 
        [ngModel]="emailInput()" 
        (ngModelChange)="emailInput.set($event)"
        class="custom-input"
      />
    </div>

    <!-- Senha -->
    <div class="input-wrapper">
        <ion-icon name="lock-closed-outline" slot="start"  class="input-icon"></ion-icon>
        <!-- <ion-icon name="key" slot="start" color="primary"></ion-icon>  -->
        <ion-icon color="primary" slot="end" (click)="changeType()" [name]="type ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      <input 
        [type]="type ? 'password' : 'text'"
        placeholder="Senha" 
        [ngModel]="passwordInput()" 
        (ngModelChange)="passwordInput.set($event)"
        class="custom-input"
        (keyup.enter)="login()"
      />
    </div>

    <p class="ion-text-right" style="margin-top: -10px; margin-bottom: 20px;">
      <ion-text id="forgot-password" style="font-size: 14px; color: var(--ion-color-medium); cursor: pointer; text-decoration: underline;">
        Esqueceu sua senha?
      </ion-text>
    </p>

    <!-- Botão Entrar -->
    <button 
      (click)="login()" 
      [disabled]="!isFormValid() || isLogin()" 
      [class.active-btn]="isFormValid() && !isLogin()"
      class="submit-btn"
    >
      {{ isLogin() ? 'Aguarde...' : 'Entrar' }}
    </button>
  </div>
  
  <div style="text-align: center; margin-top: 24px;">
    <a routerLink="/login/signup" style="font-size: 14px; color: #94a3b8; text-decoration: underline; cursor: pointer;">
      Não tem uma conta? <b>Inscrever-se</b>
    </a>
  </div>

  <ion-modal
    #forgot_pwd_modal
    trigger="forgot-password"
    cssClass="inline_modal"
    (ionModalDidDismiss)="reset($event)"
    [breakpoints]="[0.1, 0.5, 0.9]"
    [initialBreakpoint]="0.5">
    <ng-template>
      <app-reset-password
        [model]="reset_pwd_model"
        (check_email)="sendResetPasswordEmailOtp($event)"
        (verify_otp)="verifyResetPasswordOtp($event)"
        (set_password)="resetPassword($event)">
      </app-reset-password>
    </ng-template>
  </ion-modal>

</ion-content>
