<ion-app>
  <ion-split-pane contentId="main-content" when="lg" [class.collapsed]="isCollapsed">
    
    <ion-menu contentId="main-content">
      <ion-header class="ion-no-border">
        <ion-toolbar class="bravo-menu-header">
          <ion-buttons slot="start" class="ion-hide-lg-down">
            <ion-button class="toggle-btn" (click)="toggleSidebar()">
              <ion-icon slot="icon-only" [name]="isCollapsed ? 'chevron-forward' : 'menu-outline'"></ion-icon>
            </ion-button>
          </ion-buttons>
          @if (!isCollapsed) {
            <ion-title class="bravo-menu-title">Painel Administrativo</ion-title>
          }
          <div class="stripe-border"></div>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list id="nav-list">
          @for (item of menuItems; track item.title) {
            @if (!item.children || item.children.length === 0) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="item.url ? [item.url] : null" lines="none" detail="false" routerLinkActive="selected" class="menu-item level-1">
                  <ion-icon slot="start" [name]="item.icon"></ion-icon>
                  @if (!isCollapsed) {
                    <ion-label>{{ item.title }}</ion-label>
                  }
                </ion-item>
              </ion-menu-toggle>
            } @else {
              <ion-item (click)="item.open = !item.open" lines="none" detail="false" button class="menu-item level-1" [class.menu-item--open]="item.open">
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                @if (!isCollapsed) {
                  <ion-label>{{ item.title }}</ion-label>
                  <ion-icon slot="end" [name]="item.open ? 'chevron-down' : 'chevron-forward'"></ion-icon>
                }
              </ion-item>

              @if (item.open && !isCollapsed) {
                @for (child of item.children; track child.title) {
                  <ion-menu-toggle auto-hide="false">
                    <ion-item routerDirection="root" [routerLink]="child.url ? [child.url] : null" lines="none" detail="false" routerLinkActive="selected" class="menu-item level-2">
                      <ion-icon slot="start" [name]="child.icon"></ion-icon>
                      <ion-label>{{ child.title }}</ion-label>
                    </ion-item>
                  </ion-menu-toggle>
                }
              }
            }
          }
        </ion-list>
      </ion-content>
 
      <ion-footer class="ion-no-border bravo-menu-footer">
        <ion-list id="action-list">
          <ion-item (click)="logout()" lines="none" detail="false" class="logout-item" button>
            <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
            @if (!isCollapsed) {
              <ion-label color="danger">Sair</ion-label>
            }
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-menu>

    <div id="main-content" class="ion-page">
      <ion-router-outlet></ion-router-outlet>
    </div>

  </ion-split-pane>
</ion-app>
