<ion-header class="ion-no-border">
  <ion-toolbar class="custom-light-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agenda 365</ion-title>
    
    <ion-buttons slot="end">
      <!-- Seletor de Ano Simples -->
      <ion-select [(ngModel)]="selectedYear" interface="popover" class="year-select">
        <ion-select-option [value]="2025">2025</ion-select-option>
        <ion-select-option [value]="2026">2026</ion-select-option>
        <ion-select-option [value]="2027">2027</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-light-content">
  <div class="agenda-wrapper">
    <app-annual-agenda 
      [year]="selectedYear" 
      [mode]="mode()" 
      [companyId]="companyId()"
      [collaboratorId]="collaboratorId()">
    </app-annual-agenda>
  </div>
</ion-content>
