<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ordens de Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-service-order-list
    [orders]="orders()"
    [isLoading]="isLoading()"
    role="super"
    [showCreateButton]="true"
    createButtonText="Cadastrar Ordem"
    pageTitle="Listagem de Ordens"
    pageSubtitle="Visualize, filtre e gerencie as visitas técnicas e ordens de serviço."
    (onRefresh)="loadOrders($event)"
    (onCreate)="goToCreate()"
    (onDetails)="goToDetails($event)"
    (onEdit)="goToEdit($event)">
  </app-service-order-list>
</ion-content>
